

div {
	 display:  block;
}

div.roundBox {   
    margin: 15px  !important; 
    padding:  15px;
    border :  none;
    border-radius: 6px; 
    background-color: aquamarine; 
}

div.resizable {   
    width:    auto;
    height:   auto;
    max-width : 300px;
    min-width: 120px;
}

div.formBlock {   
    width  :  300px !important;
    height :  370px !important;
}

div.fixedWidth {
    width  : 300px !important;
}







