

div {
	 display:  block;
}

div.st {   
    margin: 15px  !important;
    padding:  5px;
    border :  none;
    border-radius: 6px; 
    background-color: aquamarine; 
}


/*form div.dc */
div.dc {   
    width  :  300px !important;
    height :  370px !important;
    margin: 15px  !important;

}

div.tc {
    width  : 300px !important;
}







