
span {
     display:  inline;
}


span.roundBox {
    margin: 15px  !important; 
    padding:  15px;
    border:  none;
    padding: 5px;
    border-radius:   6px;
    font-style: italic;
    color: green;    
}

span.notHovered {     
    font-weight: bold;
    background-color: #b3b3ff; 
}

span.hovered {    
    font-weight: normal;
    background-color: #80aaff; 
}

span.hovered:hover {
    background-color: #d9b3ff;
} 





