

span.e {
    display: inline;
    border:  none;
    padding: 5px;
    border-radius:   6px;      
    font-style: italic;
    font-weight: normal;
    color: green; 
    background-color: #80aaff; 
}

span.f {
    display: inline;
    border:  none;
    padding: 5px;
    border-radius:   6px;      
    font-style: italic;
    font-weight: bold;
    color: green; 
    background-color: #b3b3ff; 
}

span.e:hover {
    background-color: #3333f;
}
